<svg class$="rb-icon [[kind]]" style$="{{_size(size)}}">
	<use href$="#[[kind]]"></use>
</svg>

<link rel="stylesheet" href="../styles/rb-icon.css">

<template is="dom-if" if="{{_source(source, 'default')}}">
	<img src="../libs/font-awesome/fa-regular.svg">
</template>

<template is="dom-if" if="{{_source(source, 'solid')}}">
	<img src="../libs/font-awesome/fa-solid.svg">
</template>

<template is="dom-if" if="{{_source(source, 'brands')}}">
	<img src="../libs/font-awesome/fa-brands.svg">
</template>