<svg class$="rb-icon [[kind]]">
	<use href$="#[[kind]]"></use>
</svg>

<link rel="stylesheet" href="../styles/rb-icon.css">

<template is="dom-if" if="{{_isSrc('')}}">
	<img src="../node_modules/@fortawesome/fontawesome/advanced-options/svg-sprites/fa-regular.svg">
</template>

<template is="dom-if" if="{{_isSrc('solid')}}">
	<img src="../node_modules/@fortawesome/fontawesome/advanced-options/svg-sprites/fa-solid.svg">
</template>

<template is="dom-if" if="{{_isSrc('branded')}}">
	<img src="../node_modules/@fortawesome/fontawesome/advanced-options/svg-sprites/fa-brands.svg">
</template>