/*****************
 * RB-ICON STYLES
 *****************/
// Sassy Goodness
@import 'sass/functions.scss';
@import 'sass/variables.scss';

// The Component
.rb-icon {
	fill: currentColor;
	width: 1em;
	height: 1em;
	vertical-align: baseline;
}

.hide {
	display: none;
}